*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(160, 150, 99);
    text-align: center;

}
.container{
    height: 70vmin;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color:rgb(80, 6, 6);
    background-color: #fff;
    box-shadow: 0 0 16px black;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 1rem; 
    margin-bottom: 0.3rem;
    border: none;
}
   button:hover,#new-btn:hover,#reset-btn:hover{
    background-color:yellowgreen;

}
#msg{
    color: #00008B;
    font-size: 5vmin;
}
.msg-container {
height: 18vmin;
}
.hide{
    display: none;
}
h1{
    color: #960808;
    margin-top: 1rem;
   font-size: 3rem;
   font-style: oblique;
}